body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
body {
  padding: 25px 50px;
}
.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ac1717;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 15%;
    height: 100%;
}
  
.button:hover {background-color: #921f1f}
  
.button:active {
    background-color: #3f1111;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}